        body {
            background: #111;
            color: #fff;
            height: 100vh;
            max-width: 720px;
            margin: 0;
            padding: 0;
            font-size: 100%;
        }

        .main-container {
            display: flex;
            flex-direction: column;
            height: 100vh;
        }

        .section {
            background: #222;
            border-radius: 10px;
            margin: 10px 0;
            padding: 16px;
        }

        .flex-column {
            display: flex;
            flex-direction: column;
        }

        .flex-row {
            flex-direction: row;
        }

        .flex-center {
            display: flex;
            align-items: center;
            justify-content: center;
        }

        *, *::before, *::after { box-sizing: border-box; } 



        .selected {
            border: 2px solid #f8bbd0;
            background: #333;
        }




        /* ボタン押下時の拡大アニメーション */
        button:active {
            transform: scale(1.1);
            transition: transform 0.1s;
        }

        /* セクションごとのvh
        
        navber:7vh
        read-section:20vh
        function-section{
            height:73%
            .control-section:28vh
            .shelf-section::45vh
    }
        
        */
        /* ヘッダーセクション */
        .navbar {
            /* height: 7%; */
            flex: 0 0 7vh ;

            & .container-fluid {
                height: 100%;

                & .back-btn {
                    aspect-ratio: 1/1;
                    height: 100%;
                    background: #222;
                    color: #fff;
                }
            }
        }

        /* ハンディ読み取りセクション */
        .read-section {
            display: flex;
            flex: 0 0 20vh;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            /* height: 20%; */
            font-size: 2cqh;

            /* 棚・位置QLセクション */
            & .read-shelf {
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;
                /* height: 10vh; */
                width: 100%;
                height: 50%;
                background: #222;
                border-radius: 16px;
                margin: 1%;

                & .title {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    flex-direction: row;
                    gap: 2%;
                    width: 100%;
                    margin: 1%;
                    margin-bottom: 0% !important;
                    /* font-size: 2em; */

                    & .camera-btn {
                        /* width: 40px;
            height: 40px; */
                        background: #000;
                        border-radius: 0.5vh;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        color: #fff;
                        /* margin-right: 8px; */
                    }
                }

                & .form-container {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    flex-direction: row;
                    gap: 2%;
                    width: 100%;
                    height: 50%;
                }

                & #input-shelf {
                    width: 80%;
                    max-width: 504px;
                    height: 100%
                }

                ;

                & #bcd-search-btn {
                    width: 80%;
                    max-width: 504px;
                    height: 100%
                }
            }


        }

        .function-section {
            /* height: 73%; */
            flex: 1 1 0;
            min-height: 0; 


            & .control-section {
                flex: 0 0 45%;
                height: 45%;
                width: 100%;
                font-size: 1.8cqh;

                & .label-container {
                    height: 44%;
                    background: #222;
                    width: 100%;

                    & .item-detail-box {
                        height: 50%;

                    }

                    & .item-count-box {
                        height: 50%;
                    }
                }

                & .stock-container {
                    height: 33%;
                    width: 100%;

                    & .plus-btn {
                        height: 80%;
                        aspect-ratio: 1/1;
                        font-size: 100%;
                        margin: 1%;
                        margin-left: 2%;
                        width: 20%;
                        display: flex;
                        align-items: center;
                        justify-content: center;

                    }

                    ;

                    & .minus-btn {
                        height: 80%;
                        aspect-ratio: 1/1;
                        font-size: 100%;
                        margin: 1%;
                        margin-right: 2%;
                        width: 20%;
                        display: flex;
                        align-items: center;
                        justify-content: center;

                    }

                    ;


                    & .gauge-container {
                        width: 55%;
                        height: 100%;
                        display: grid;
                        grid-template-columns: repeat(auto-fit, minmax(0, 1fr));
                        justify-items: center;
                        align-items: center;

                        & .gauge-block {
                            /* width: 80%; */
                            height: 80%;
                            aspect-ratio: 1/1;
                            background-color: #ccc;
                            border: 0.1rem solid #999;
                            transition: background-color 0.3s, transform 0.3s;
                            margin: 1%;
                        }


                        & .gauge-block.active {
                            height: 80%;
                            background-color: #4caf50;
                            aspect-ratio: 1/1;
                            transform: scale(1.05);
                            box-shadow: 0 0 10px #4caf50;
                            margin: 1%;
                        }
                    }

                }

                & .save-container {
                    width: 100%;
                    height: 23%;


                    & .save-btn {
                        width: 45%;
                        margin-right: 2%;
                        font-size: 1.5rem;
                    }

                    & .cancel-btn {
                        width: 45%;
                        margin-left: 2%;
                        font-size: 1.5rem;
                    }

                }

            }

            & .shelf-section {
                height: 45%;

                & .shelf-container {
                    height: 100%;

                    & .shelf-grid {
                        display: grid;
                        grid-template-columns: repeat(3, 1fr);
                        grid-gap: 8px;
                        background: #222;
                        border-radius: 16px;
                        padding: 16px;
                        margin-top: 12px;
                        border: 2px solid #4fc3f7;
                        height: 100%;

                        & .grid-cell {
                            background: #444;
                            border-radius: 8px;
                            height: 60px;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            color: #fff;
                            font-size: 1.1em;
                            position: relative;
                            height: 100%;
                        }

                        & .highlight {
                            background: linear-gradient(90deg, #ffd54f 50%, #ffb300 100%);
                            height: 100%;
                            color: #222;
                            font-weight: bold;
                        }
                    }
                }

            }
        }